*{
    font-family: 'Open Sans', sans-serif;
}

 /* nav related style work */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
.h3-text{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;  
}

nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
}
.nav-btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

/* This is header related work. */
.header{
    background-color: white;
    background-image: url(icon/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    margin: 30px 30px 0 150px;
    display: flex;
    align-items: center;
}
.banner-btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
.banner .banner-pic{
    width: 500px;
}
.banner-content{
    max-width: 500;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;

/* <!-- this is a main section-1 --> */

}
.about{
    font-size: 30px;
    text-align: center;
    padding: 0 50px;
}
.about-link{
    display: flex;
    text-align: center;
    justify-content: space-around;

}
.about-paragarp{
    font-weight: bolder;
    font-size: 18px;
}
.section-1{
    padding: 0 240px;
    text-align: center;
    margin: 150px 0;
}
.about-bg{

}

/* section what I do? */

.what-space{
    margin: 150px 0;
}
.class-what{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.soical-site{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.class-what-do{

}
.soical-site-h{

}
.soical-site-paragraph{
    font-size: 15px;
    padding: 20px;
    text-align: left;
}

/* section Resume Part */
.resume{
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.resume-list{
    display: flex;
    justify-content: space-around;
}
.resume-name{
    font-size: 15px;
    padding: 20px;
    text-align: left;
    text-decoration: none;
}
.resume-education{
    font-size: 25px;
}
.resume-degree{
    font-size: 20px;
}
.resume-year{
    font-size: 13px;
}
.resume-paragraph{
    font-size: 16px;
}
.resume-head{
    font-size: 30px;
}
